{% extends 'base.html' %}

{% block add_card%}

{% if 'user_id' in session %}

{% block hideform%}
{% endblock %}


    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 card-group  mt-4">
        <div class="card test round " style="border: 3px solid rgba(98, 176, 184, 0.5); <!--background-color: rgba(239, 226, 192, 0.5)--> ">
            <img src="https://i.pinimg.com/originals/a3/25/1a/a3251aefef2c989e2c5791072f15d4a8.png" class="card-img-top shadow round p-2" style="border: 4px solid rgba(243, 101, 219, 0.28); background-color: lightyellow; " /> <!--style="border: 3px solid tan; background-color: rgba(243, 106, 101, 0.28);"  alt="..."-->
            <div class="card-body round">
                <div class=" p-3 colorme shadow" style="background-color: rgba(239, 226, 192, 0.7) ">
                    <h5 class="card-title text-center text-info"> {{user[0].username}}  </h5>


                    <p>
                        <ul class="text-dark ">
                            <li>
                                first name: {{user[0].first_name}}
                            </li>
                            <li>
                                last name: {{user[0].last_name}}
                            </li>
                            <li>
                                email: {{user[0].email}}
                            </li>
                        </ul>



                    </p>
                    <div class="row justify-content-center">
                        <div class="col-10 test rounded">
                            <h5 class="card-title text-center text-info mt-2 "> {{user[0].username}}'s feedback  </h5>
                            {% if feedback %} {% for comment in feedback%}
                            
                                
                                    <h6 class="text-success card-title text-center feedback round" title="Edit Feedback"id={{comment.id}} style="background-color: rgba(239, 226, 192, 0.7); cursor: pointer; "> ✔️ {{comment.title}}</h6>
                                    <p class="text-center" >{{comment.content}}</p> {% endfor %}{% endif %}
                                
                           
                                

                                
                            
                            

                        </div>
                        
                    </div>
                    

                    <div class="row justify-content-center mt-2 ">

                        <div id="icon_holder" class="col-6 test round">
                            <div class="row justify-content-center">
                                <i id="" title="Edit 's profile" class="species-icon fa-solid fa-shield-cat m-2 options-icons pt-2 pb-2" style="color: darkmagenta;"></i>
                                <i class="bday-icon fa-solid fa-cake-candles m-2 options-icons pt-2 pb-2" style="color: #e029c8;"></i>
                                <i title="Add new feedback" class="edit-icon fa-solid fa-circle-plus m-2 options-icons pt-2 pb-2" style="color: darkmagenta; cursor: pointer;"></i>
                                <i id="{{user[0].username}}" title="Delete {{user[0].username}}'s profile" class="edit-icon fa-solid fa-circle-xmark-user fa-circle-xmark m-2 options-icons pt-2 pb-2" style="color: #e029c8; cursor: pointer;"></i>

                            </div>


                        </div>

                    </div>



                </div>

                <div class="row justify-content-center ">
                    <a href="/cupcakes" class=" btn btn-primary shadow  rounded mt-3">Go to 's profile!</a>
                </div>

            </div>
            <span class="" id="pop_form"></span>
        </div>

    </div>






    {% endif %}


    {% endblock %}

    test
